version: '3'

services:

{% for project in salt['pillar.get']('hugo:projects', '') %}
{% set port = ( port | default(1313) ) + 1 %}
  {{project}}-webserver:
    image: roquefort/hugo:latest
    build: .
    ports:
      - {{port}}:1313
    volumes:
      - ./src/{{project}}:/src
      - ./output/{{project}}:/output
    environment:
      HUGO_WATCH: "true"
      HUGO_REFRESH_TIME: 15
{% endfor %}