version: '3'

{% for projects in salt['pillar.get']('hugo', '') %}
services:
  {% set port = ( port | default(1312) ) + 1 %}
  {% for project in salt['pillar.get']('projects', '') %}
  {{project}}-webserver:
    image: roquefort/hugo:latest
    build: .
    ports:
      - {{port}}:1313
    volumes:
      - ./src/{{project}}:/src
      - ./output/{{project}}:/output
    environment:
      HUGO_WATCH: "true"
      HUGO_REFRESH_TIME: 15
  {% endfor %}
{% endfor %}